APPLICATION_ID=<Application_ID>
TOKEN=<Token>
LAVALINK_PASSWORD=<Lavalink_Password>
LAVALINK_HOST=<Lavalink Host_url>
DB_TYPE=<postgres/sqlite>

POSTGRES_USER=<Database User>
POSTGRES_PASSWORD=<Database Password>
POSTGRES_DB=<Database Name>

Delete this line and rename this file to vars.env with the information for the bot.
